<div class = "container">
<%= nav_bar brand: "Minha Loja", brand_link: root_url  do%>
	<form method="get" class = "navbar-form navbar-right" action="/produtos/busca" >
		<div class = "form-inline form‐group">
			<%= text_field_tag :nome, @nome_a_buscar, class: "form‐control" %>
			<%= button_to "Buscar", nil, class: "btn btn-primary form‐group"%>
		</div>
	</form>
<% end %>
</div>