<h1>New Departamento</h1>
  <head>
	<%= render partial: "bootstrap"%>
  </head>
  
<%= render partial: "navbar"%>

<%= render 'form', departamento: @departamento %>

<%= link_to 'Back', departamentos_path %>
